.h2 {
}

.text-muted {
	border: 1px solid;
}


.initialism {
	border: 1px solid;
}

.list-unstyled {
	border: 1px solid;
}

.rounded.float-left {
	border: 1px solid;
}

.rounded.float-right {
	border: 1px solid;
}

.table.table-hover {
}

.col {
}

.w-100 {
	border: 1px solid;
}
}

.col-8 {
	border: 1px solid;
}
}

.col-4 {
	border: 1px solid;
}
}

.container.px-lg-5 {
	border: 1px solid;
}
}

.row.mx-lg-n5 {
	border: 1px solid;
}

.col.py-3.px-lg-5.border.bg-light {
}

.col-md-4 {
	border: 1px solid;
}

.col-md-4.ml-auto {
	border: 1px solid;
}

.col-md-3.ml-md-auto {
	border: 1px solid;
}

.col-auto.mr-auto {
	border: 1px solid;
}

.col-auto {
	border: 1px solid;
}

.col.order-last {
	border: 1px solid;
}

.col.order-first {
	border: 1px solid;
}

.col-6.col-sm-3 {
	border: 1px solid;
}

.col-9 {
	border: 1px solid;
}

.col-6 {
	border: 1px solid;
}

.col.align-self-start {
	border: 1px solid;
}

.col.align-self-center {
	border: 1px solid;
}

.col.align-self-end {
	border: 1px solid;
}
.container{
	background-color: #F8F9FA;
}
.row{
	margin-top: 10px;
	border: 1px solid;
}
.col{
	margin-top: 10px;
	border: 1px solid;
}